body {
  margin: 3%;
  background: rgb(94,88,196);
  background: linear-gradient(0deg, rgba(94,88,196,1) 0%, rgba(139,139,196,1) 46%, rgba(227,227,252,1) 100%);
  font-family:'Courier New', Courier, monospace;
}

h1 {
  font-size: 200%;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.song-container {

  flex-grow: 1;
  /* padding: 3%; */
  border: 0px solid black;
  margin: 3%;
  border-radius: 30px;
  box-shadow: 5px 10px 10px #3c447c4d;
  min-width: 30%;
  display: flex;
  gap: 3%;

}

.song-container > ul {
  list-style: none;
  text-align: center;
  

}

.song-container > ul > li {
  padding-bottom: 3%;
}

h2 {
  textwrap: wrap;
}

.image {
  border-radius: 30px;
}

.position-number {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  letter-spacing: 25px;
  color:rgba(59, 37, 37, 0.619);
  text-shadow: -2px 0px rgb(211, 211, 211);
  writing-mode: vertical-lr;
  text-orientation: sideways;
  list-style: none;
  margin: 0;
  padding: 0;
}